body {
    background-color: #151515;
    color: white;
}
ul.settings {
    padding: 0;
    list-style-type: none;
}
input {
    width: 100%;
    background-color: black;
    color: white;
    border:solid;
    border-width: 1px;
}
.header img {
    float: left;
}
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}
a {
    color: lightblue;
}