body {
    background-color: #151515;
    color: white;
    font-family: sans-serif;
}
input {
    width: 100%;
    background-color: black;
    color: white;
    border:solid;
    border-width: 1px;
}
a {
    color: lightblue;
}